/* General Styles */
body * {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

h1 {
  color: #328E6E;
}

ul li {
  border: none !important;
}

/* Containers */
.image-section {
  height: 100vh;
  text-align: center;
  background-color: #3F7D58; /* New green background */
  padding: 20px;
}


.image-section img {
  max-width: 60%;
  max-height: 60%;
  margin-top: 50px !important;
  object-fit: cover;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.links a {
  flex: 0 0 10%;
}

.icon-link {
  text-decoration: none;
  font-size: 48px;
  padding: 26px;
}

.content-container {
  width: 70%;
  margin: 0 auto;
}

.home {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.home p {
  font-weight: bold;
  color: #90C67C;
  font-style: italic;
  font-size: x-large;
}

.home h1 {
  font-size: 64px;
  color: #328E6E;
}

.home h2 {
  font-size: 32px;
  color: #328E6E;
}

.home h3 {
  font-size: 24px;
}

/* Utility */
.w3-margin-top-2 {
  margin-top: 32px;
}

.w3-margin-top-4 {
  margin-top: 64px;
}

.w3-margin-top-20-percent {
  margin-top: 20%;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .home {
    width: 90%;
  }

  .content-container {
    width: 80% !important;
  }

  .download-text {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .home {
    width: 100%;
  }

  .home h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 600px) {
  .content-container {
    width: 100% !important;
  }

  .image-section {
    padding: 10px;
    height: auto;
  }

  .links a {
    flex: 0 0 5% !important;
  }

  .home {
    width: 100%;
    text-align: center;
  }

  .home p {
    font-size: medium !important;
  }

  .home h1 {
    font-size: 32px;
  }

  .home h2 {
    font-size: 24px;
  }

  .icon-link {
    font-size: 24px;
  }

  .w3-fixed {
    position: inherit;
  }

  .image-section img {
    max-width: 80%;
    max-height: 80%;
    border-style: outset;
    border-color: #6A9C89;
  }


  .w3-container,
  .w3-panel {
    padding: 0.01em;
  }

  .download-text {
    display: inline-block;
  }
}
